SOA Samples/HelloWorldR2/HelloWorldR2ReliableBrokerClient/Service References/EchoService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:24662/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##local" processContents="skip" />
    </xs:sequence>
    <xs:attribute ref="ser:FactoryType" />
  </xs:complexType>
  <xs:element name="Exception" nillable="true" type="tns:Exception" />
  <xs:complexType name="ArgumentNullException">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ArgumentException" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArgumentNullException" nillable="true" type="tns:ArgumentNullException" />
  <xs:complexType name="ArgumentException">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SystemException" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArgumentException" nillable="true" type="tns:ArgumentException" />
  <xs:complexType name="SystemException">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Exception" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SystemException" nillable="true" type="tns:SystemException" />
  <xs:complexType name="DivideByZeroException">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ArithmeticException" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DivideByZeroException" nillable="true" type="tns:DivideByZeroException" />
  <xs:complexType name="ArithmeticException">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SystemException" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArithmeticException" nillable="true" type="tns:ArithmeticException" />
  <xs:complexType name="OutOfMemoryException">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SystemException" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OutOfMemoryException" nillable="true" type="tns:OutOfMemoryException" />
</xs:schema>